$color-secondary: #ecffd0;
$color-tertiary: #eaf7d7;
$color-primary: #e2f7b3;
$color-dark-pink: #b0d88b;
$color-white: #fff;
$color-dark: rgb(0, 0, 0);
$color-grey: #f7f7f7;
$color-green: #a6eb95;
$color-dangerous: #d86565f3;
